@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0 auto;
}

body {
  margin: 0 auto;
  font-family: "游ゴシック体", yugothic, "游ゴシック", "Yu Gothic", "メイリオ", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", sans-serif;
  font-weight: normal;
  margin: 0;
  color: #333333;
  letter-spacing: 0;
  font-weight: 500;
  line-height: 1.6;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;
  max-width: 1600px;
}

article,
aside,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a,
a:visited {
  color: inherit;
  outline: none;
}

a:hover {
  opacity: 0.6;
  text-decoration: none;
}

img {
  border: none;
  height: auto;
  max-width: 100%;
  vertical-align: top;
}

code,
kbd,
pre,
samp {
  font-family: monospace, sans-serif;
  font-size: inherit;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  text-align: center;
}

th,
td {
  padding: 7.5px 6px;
  text-align: left;
  vertical-align: top;
  width: 400px;
}

blockquote,
q {
  quotes: none;
}

blockquote::after,
blockquote::before,
q::after,
q::before {
  content: "";
  content: none;
}

.inner {
  margin: 0 auto;
  max-width: 100%;
  padding: 80px 0;
}

h4 {
  font-size: 20px;
  color: #3E3E3E;
  margin-bottom: 20px;
}

p {
  font-size: 14px;
  color: #3E3E3E;
}

.gold {
  color: #C5A882;
}

.icon {
  margin-top: 27px;
  margin-right: 10px;
}

header {
  left: 0;
  top: 0;
  width: 100%;
  background-color: #FFFFFF;
  position: fixed;
  z-index: 10;
}

header .container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

header .container .header-left {
  display: flex;
  text-align: left;
}

header .container .header-left .title {
  margin-left: 20px;
}

header .container .header-left .title .logo-title {
  font-family: 'Josefin Sans','Bold';
  font-size: 36px;
}

header .container .header-right {
  display: flex;
}

header .container .header-right .link {
  line-height: 70px;
}

header .container .header-right .link a {
  margin-right: 30px;
}

header .container .header-right .info .black {
  background-color: black;
  color: #fff;
  font-size: 20px;
}

header .container .header-right .info .tel {
  font-family: 'Josefin Sans','Bold';
  font-size: 28px;
  color: #C5A882;
}

header .container .header-right .info .time {
  font-size: 12px;
  font-family: 'Josefin Sans','Bold';
}

.mv .container {
  display: flex;
  margin-top: 150px;
  padding-right: 0;
  margin-right: 0;
  justify-content: space-between;
}

.mv .container .mv-text {
  text-align: left;
}

.mv .container .mv-text h1 {
  font-family: 'Josefin Sans','Bold';
  font-size: 75px;
  width: 100px;
  line-height: 100px;
  margin-top: 100px;
  margin-bottom: 20px;
}

.mv .container .mv-text h3 {
  font-size: 36px;
  letter-spacing: 7.2px;
  background-color: #fff;
}

.mv .container .mv-text .client {
  position: absolute;
}

.mv .container .mv-text .hp {
  position: absolute;
  top: 550px;
}

.mv .container .mv-text .mv-content {
  margin-top: 230px;
}

.entry {
  display: flex;
  background-color: #fff;
  position: absolute;
  top: 650px;
  right: 30px;
  border: 10px solid #C5A882;
}

.entry .entry-text {
  padding: 30px 12px 26px 15px;
  text-align: left;
}

.entry .entry-text .entry-link {
  font-size: 24px;
  padding-top: 20px;
}

.entry .entry-text .entry-link .list {
  margin: 12px;
}

.card-wrapper {
  margin-top: 200px;
}

.card-wrapper .container {
  padding-left: 0;
  height: 500px;
}

.card-wrapper .container .card-img {
  width: 600px;
}

.card-wrapper .container .card-text {
  background-color: #fff;
  text-align: left;
  width: 910px;
  padding: 50px;
  position: relative;
  top: -280px;
  left: 500px;
}

.card-wrapper .container .card-text .card-title {
  font-size: 32px;
}

.card-wrapper .container .card-text .card-title::after {
  -webkit-transform: translate(-50%);
  background: #C5A882;
  bottom: 0;
  content: "";
  height: 3px;
  left: 8%;
  position: absolute;
  transform: translate(-50%);
  width: 40px;
  margin-bottom: 210px;
}

.card-wrapper .container .card-text .card-content {
  margin-top: 70px;
  font-size: 16px;
}

.service-wrapper .container h2 {
  font-family: 'Josefin Sans','Bold';
  font-size: 45px;
}

.service-wrapper .container .service-inner .reason {
  background-color: #C5A882;
  font-size: 28px;
  width: 1080px;
  margin: 40px auto;
  color: #FFFFFF;
}

.service-wrapper .container .service-inner .service-items {
  width: 1080px;
  margin: 0 auto;
}

.service-wrapper .container .service-inner .service-items .service-item {
  width: 300px;
  margin: 50px auto;
  position: relative;
}

.service-wrapper .container .service-inner .service-items .service-item .service-content {
  font-size: 18px;
  margin: 20px 0 41px 0;
}

.service-wrapper .container .service-inner .service-items .service-item .service-content::after {
  -webkit-transform: translate(-50%);
  background: #C5A882;
  bottom: 0;
  content: "";
  height: 3px;
  left: 50%;
  top: 300px;
  position: absolute;
  transform: translate(-50%);
  width: 40px;
}

.service-wrapper .container .service-inner .service-items .top-item {
  margin: 0 auto;
  display: flex;
}

.service-wrapper .container .service-inner .service-items .under-item {
  display: flex;
}

.service-wrapper .container .service-inner .service-items .left-item {
  margin: 0 45px 0 auto;
}

.service-wrapper .container .service-inner .service-items .right-item {
  margin: 0 auto 0 45px;
}

.site-menu {
  margin-top: 100px;
  background-color: #F9F6F5;
  padding: 40px 0;
}

.site-menu .container .menu-wrapper {
  width: 85%;
  margin: 0 auto;
}

.site-menu .container .menu-wrapper .menu-main .sete-menu {
  font-size: 18px;
  font-family: 'Josefin Sans','Bold';
  text-align: left;
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 10px;
}

.site-menu .container .menu-wrapper .menu-main .list {
  margin: 10px;
}

.site-menu .container .menu-wrapper .menu-main .pre-footer {
  display: flex;
  justify-content: space-between;
  margin: 80px auto 40px auto;
}

.site-menu .container .menu-wrapper .menu-main .pre-footer .site-logo {
  display: flex;
  text-align: left;
}

.site-menu .container .menu-wrapper .menu-main .pre-footer .site-logo .title {
  margin-left: 20px;
}

.site-menu .container .menu-wrapper .menu-main .pre-footer .site-logo .title .logo-title {
  font-family: 'Josefin Sans','Bold';
  font-size: 36px;
}

.site-menu .container .menu-wrapper .menu-main .pre-footer .contact {
  display: flex;
}

.site-menu .container .menu-wrapper .menu-main .pre-footer .contact .info .black {
  background-color: black;
  color: #fff;
  font-size: 18px;
}

.site-menu .container .menu-wrapper .menu-main .pre-footer .contact .info .tel {
  font-family: 'Josefin Sans','Bold';
  font-size: 28px;
  color: #C5A882;
}

.site-menu .container .menu-wrapper .menu-main .pre-footer .contact .info .time {
  font-size: 12px;
}

.site-menu .container .menu-wrapper .menu-main .pre-footer .contact .contact-link {
  background-color: #C5A882;
  color: #FFFFFF;
  padding: 25px 32px 21px 32px;
  font-size: 24px;
  font-family: 'Josefin Sans','Bold';
  margin-left: 30px;
}

footer {
  background-color: #000000;
  height: 40px;
  line-height: 40px;
}

footer p {
  font-size: 12px;
  color: #fff;
  font-family: 'Josefin Sans','Bold';
}
